.flex-container {
  display: flex;
  justify-content: space-between;
}

.header-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-skills h1,
.skills span {
  color: white;
}

.skills span {
  transition: all 0.2s ease-in-out;
}

.skills span:hover {
  transform: scale(1.1);
}

.header-skills h1 {
  margin: 0;
  width: 146px;
  height: 75px;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
}

.skills {
  display: flex;
}

.skills span {
  font-size: 24px;
  line-height: 36px;
  padding: 15px;
  cursor: pointer;
}

.skills-indicator {
  display: flex;
  justify-content: center;
}

.navlinks-skills {
  margin-top: 35px;
}
