.header-skills p {
  color: #f5f5f5;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  width: 720px;
  height: 72px;
  text-align: center;
}

.portfolio {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */

  color: #fffefc;
}

.works-container {
  height: 242px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.card-work {
  transition: all 0.2s ease-in !important;
}

.card-work:hover {
  transform: scale(1.1) !important;
}
